html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.root-accordion > li > div {
  overflow-y: auto;
}

.root-accordion > li > h2 > button {
  color: #606c7c;
  font-size: 14px;
}

#root .dummy {
  color: #fff;
  font-size: 4px;
}

.empty-field {
  padding-top: 56px;
  padding-bottom: 56px;
  color: #606c7c;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
